.div1 {
  width: 100%;
  min-height: 25rem;
  background-color: #F5F5F5;
  justify-content: center;
  align-items: center;
  display: flex;
}

.filter {
  display: flex;
  justify-items: center;
  justify-content: center;
}

.projects {
  display: flex;
  justify-items: center;
  justify-content: center;
}

.paginator {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-items: center;
  justify-content: center;
}

.mainLoading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.projectContainer {
  gap: 2rem;
  padding: 2rem;
  min-height: 10rem;
  height: 20rem;
  background-color: #F5F5F5;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin-top: 15rem;
}